extends layouts/layout

block bodyContent
    .container
        .title-container
            h1.title-left user
            h1.title-right .MANAGER
        form(method='POST', action='/users')
            .form-container
                input.field(id='userID', name='userID', placeholder='User ID')
                input.field(id='name', name='name', placeholder='Name')
                input.field(id='age', name='age', placeholder='Age')
                input.field(id='email', name='email', type='email', placeholder='Email')
            .button-container
                input.nav-button(type='submit', value='add user')
                a.nav-button(href='/users') go to users